.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  background-color: #eb6ea0;
  font-family: verdana;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f4f0f2;
  font-family: Verdana;
}
.menu {
  display: flex;
  gap: 20px;
}
.menu a {
  color: #ffffff;
  text-decoration: none;
}
.menu a:hover {
  color: #560337;
}